.skill-img-title {
    margin-top: 1rem;
}

.designs-collections {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    width: auto;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden; 
     align-items: flex-start;
    
}

.item {
    width: 15rem;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    display: block; 
}

