@media screen and (max-width: 1364px) {
    .mobile-nav {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        z-index: 1000; /* stays on top */
        background: rgba(0, 0, 0, 0.4);        /* translucent black */
        backdrop-filter: blur(50px) saturate(180%);
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        border-top: 1px solid rgba(255, 255, 255, 0.1); /* subtle glass edge */
    }

    .mobile-nav-link-wrap  {
            width: 3rem;
        }

        body {
            padding-bottom: 5rem;
        }
}

@media screen and (min-width: 1000px){
    body {
        padding-left: 1rem;
        padding-right: 2rem;
    }

    #section-2 {
        margin: 0;
    }

    #section-3 {
        display: block;

    }

    .skill-list {
        gap: 2rem;
    }
    
    .skills-image {
        width: 14rem;
    }

}

@media screen and (min-width: 600px){

    .skill-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .skills-image {
        width: 14rem;
    }

}




@media screen and (min-width: 1364px){
    #section-1 {
        display: block;
        width: 23.26%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2.4rem;
        position: fixed;
        top: 0;
        margin-left: -65rem; /* moves it slightly away from the edge */

    }

    #section-2 {
        margin-left: 18rem;
    }

    #section-3 {
        display: block;

    }
}