* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    overflow-x: hidden;
    margin: 0 auto;
    align-items: center;
    font-weight: 500;
    -webkit-text-size-adjust: 100%;
    padding-left: 1rem;
    height: auto;
     padding-bottom: 5rem;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

.web-address {
    font-size: 0.9rem;
    color: rgb(73, 73, 73);
}


.dmedia-logo {
    margin-top: 0.5rem;
    width: 4rem;
    padding-left: 1rem;
}



.after-img {
    margin-top: -4.5rem;
    margin-left: 1.5rem;
}





hr {
    margin-bottom: 0.8rem;
    border: 0.001px solid rgb(73, 73, 73);
    border-bottom: none;
}

.about-wrap {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.daniel2-img{
    margin-left: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}


.submit {
    background-color: white;
    color: black;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    border: none;
}

#section-3 {
    display: block;
    width: 98%;
    margin: 0 auto;
    max-width: 600px;
    align-self: start;
    height: auto;
}


.others-skill-img-title {
    margin-left: 1rem;
}

.for-section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0.5rem;
}

.for-section3-wrap {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-left: 1rem; 
}

.third {
    margin-bottom: 1rem;
}

.daniel2-img2 {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.others-section {
    width: 98%;
    border: 0.02px solid rgb(73, 73, 73);
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.first-others {
    padding: 0;
    padding-right: 2rem;
}

.for-hover {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;

}

.others-text {
    margin-left: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}

.builds-button {
    background-color: white;
    color: black;
    width: 5.2rem;
    height: 2.1rem;
    border: none;
    border-radius: 30px;
    margin-left: 1rem;
}

.others-name {
    font-size: 1rem;
    font-weight: 600;
}

.see-more-link {
    font-size: 0.95rem;
    color: rgb(19, 100, 146);
}

.see-more-link:hover {
    background: rgb(21, 21, 21);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.happening-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    padding-left: 1rem;
}

.ai-post {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.ai-image {
    width: 5rem;
    border-radius: 10px;
}

.tech-trend {
    padding: 0.8rem;
}

.tech-trend:hover {
    background: rgb(21, 21, 21);
}

.trend-validation {
    font-size: 0.9rem;
    color: rgb(73, 73, 73);
}

.trend-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.for-top {
    margin-top: 0.3rem;
    border-radius: 50rem;
    padding: 0.7rem;
    padding-left: 1rem;
    
}

.footer {
    margin-top: 2rem;
    border-top: 0.02px solid rgb(73, 73, 73);
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.footer-text {
    font-size: 0.9rem;
    color: rgb(73, 73, 73);
    margin-top: 1rem;
    text-align: center;

} 

.mobile-nav {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        z-index: 1000; /* stays on top */
        background: rgba(0, 0, 0, 0.4);        /* translucent black */
        backdrop-filter: blur(50px) saturate(180%);
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        border-top: 1px solid rgba(255, 255, 255, 0.1); /* subtle glass edge */
    }

    .mobile-nav-link-wrap  {
            width: 3rem;
    }