.skill-img-title {
    margin-top: 1rem;
}

.projects-contents {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.project-content-title {
    font-size: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.desktop-image-description{
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 0.5rem;
}

.project-content-description {
    color: rgb(73, 73, 73);
    font-size: 70%;
    width: auto;
}

img {
    border-radius: 10px;
}

.image-1 {
    width: auto;
    height: auto;
}

.image-2 {
    width: 100%;
    height: auto;
}

.project-live-link a {
    font-weight: 100;
    font-size: 1rem;
    color: rgb(19, 100, 146);
    text-decoration: none;
}
